.app{
  width: 100%;
  height: 100%;
  min-height: 100vh;  
}
.nav__container{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:80px;
  align-items: center;
  justify-content:center;
  z-index: 10;
}
.nav__wrapper{
  max-width: 1290px;
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.nav__headWrapper{
  flex: 1;
  color:white;
  align-items: center;
  text-align: center;
  font-family: Trebuchet_MS;
}
.nav__navigation{
  flex:2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__navigation a{
  color: black;
  text-decoration: none;
  font-family:'open sans';
  font-size:15px;
}
.button{
  display: flex;
  width: 202px;
  height: 47px;
  background-color: black;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'open sans';
  cursor: pointer;
}
.rounded{
  border-radius: 24px;
}

.landing{
  display: flex;
  flex-direction: row;
}

.landing__left{
  position: relative;
  background: #000;
  flex: 1;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
}

.landing__profile{
  position:absolute;
  right: 0px;
  top:50%;
  width:500px;
  height:500px;
  transform: translateX(50%) translateY(-50%);
  border-radius: 50%;
  border: 10px solid #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__profile img{
  width:350px;
  height: 350px;
  border-radius: 50%;
  background:#000;
  border:2px solid #000;
}

.landing__right{
  flex: 2;
  height: 100%;
  min-height: 100vh;
  border-bottom: 10px solid #000;
}